- provide(:title, (t 'application.models.room.edit_room').to_s)
%h1= (t 'application.models.room.edit_room').titleize
= form_for [:admin, @room] do |f|
  = render 'form_errors', object: @room
  .form
    = render 'room_form', f: f
    .form-group.actions
      .col-sm-offset-2.col-sm-10
        = link_to (t "application.models.room.delete_room").titleize, admin_room_path(@room), class: "btn btn-danger btn-lg", method: :delete
        = f.submit t("application.models.room.update_room").titleize, class: "btn btn-primary btn-lg"
        = link_to (t "application.models.room.cancel_edit_room").titleize, admin_rooms_path, class: "btn btn-lg btn-default"    
