- provide(:title, (t 'application.models.room.add_room').to_s)
%h1= (t 'application.models.room.add_room').titleize
= form_for [:admin, @room] do |f|
  = render 'form_errors', object: @room
  .form
    = render 'room_form', f: f
    .form-group
      .col-sm-offset-2.col-sm-10.actions
        = f.submit t("application.models.room.add_room").titleize, class: "btn btn-primary btn-lg"
        = link_to t("application.models.room.cancel_action").titleize, admin_rooms_path, class: "btn btn-default btn-lg"
