- provide(:title, "#{t 'application.models.room.room'} #{@room.id}")
%h1 #{(t 'application.models.room.room').titleize} #{@room.id}
.form
  .form-group
    .control-label
      = (t 'application.models.room.name').titleize
    .form-control{disabled: :disabled}
      = @room.name.to_s
  .form-group
    .control-label
      = (t 'application.models.room.capacity').titleize
    .form-control{disabled: :disabled}
      = @room.capacity
%p
  = link_to t("application.models.room.edit_room").titleize, edit_admin_room_path(@room), class: "btn btn-primary"
  = link_to t("application.models.room.redirect_to_index").titleize, admin_rooms_path, class: "btn btn-default"
