- provide(:title, "#{t 'application.models.room.room'} #{@room.id}")
%h1 #{t 'application.models.room.room'} #{@room.name}
.form
  .form-group
    .control-label
      = (t 'application.models.room.name')
    .form-control{disabled: :disabled}
      = @room.name.to_s
  .form-group
    .control-label
      = (t 'application.models.room.capacity')
    .form-control{disabled: :disabled}
      = @room.capacity
%p
  = link_to t("application.models.room.edit_room"), edit_admin_room_path(@room), class: "btn btn-primary"
  = link_to t("application.models.room.redirect_to_index"), admin_rooms_path, class: "btn btn-default"
