- provide(:title, "#{t 'application.models.shift.update_shift'} #{@shift.id}")
%h1= t 'application.models.shift.edit_shift_in_room', shift: @shift.id, room: @room.name
= form_for [:admin, @shift] do |f|
  = render 'form_errors', object: @shift
  .form
    = render 'shift_form', f: f
    .container
      .form-group
        .actions
          = link_to (t "application.models.shift.delete_shift"), admin_shift_path(@shift), class: "btn btn-lg btn-danger", method: :delete,
            data: { confirm: t('.irreversible') }
          = f.submit (t "application.models.shift.update_shift"), class: "btn btn-lg btn-primary", method: :update
          = link_to (t "application.models.shift.cancel_edit_shift"), admin_shift_path(@shift), class: "btn btn-lg btn-default"
