- provide(:title, "#{t 'application.models.shift.shift'} #{@shift.id}")
%h1 #{(t 'application.models.shift.shift')} #{@shift.id}
.form
  .form-group
    .control-label
      = (t 'application.models.room.room')
    .form-control{disabled: :disabled}
      = link_to @shift.room.name.to_s, admin_room_path(@shift.room)
  .form-group
    .control-label
      = (t 'application.models.shift.sites_available')
    .form-control{disabled: :disabled}
      #{@shift.sites_available} (#{@shift.sites_available})
  .form-group
    .control-label
      = (t 'application.models.shift.day_of_week')
    .form-control{disabled: :disabled}
      = week_day_convert @shift.day_of_week
  .form-group
    .control-label
      = (t 'application.models.shift.start_time')
    .form-control{disabled: :disabled}
      = @shift.start_time
  .form-group
    .control-label
      = (t 'application.models.shift.end_time')
    .form-control{disabled: :disabled}
      = @shift.end_time
  .form-group
    .control-label
      = (t 'application.models.shift.sites_assigned')
    .form-control{disabled: :disabled}
      = @shift.sites_assigned
  .form-group
    .control-label
      = (t 'application.models.shift.sites_reserved')
    .form-control{disabled: :disabled}
      = @shift.sites_reserved

%p
  = link_to t("application.models.shift.edit_shift"), edit_admin_shift_path(@shift), class: "btn btn-primary"
  = link_to (t "application.models.shift.redirect_to_index"), admin_rooms_path, class: "btn btn-default"

%table.datatable.table.table-striped.table-bordered
  %thead
    %tr
      %th= Offspring.human_attribute_name('first_name')
      %th= Offspring.human_attribute_name('last_name')
      %th= Offspring.human_attribute_name('grade')
      %th= Offspring.human_attribute_name('user')
      %th= Offspring.human_attribute_name('created_at')
      %th= Offspring.human_attribute_name('updated_at')
  %tbody
    = render @assignments

- content_for :javascripts do
  :javascript
    // Initialize Datatables
    $(document).ready(function() {
      $('.datatable').dataTable();
    });
