- provide(:title, "#{t 'application.models.room.add_room'}")
%h1= (t 'application.models.room.add_room').titleize
=form_for @room do |f|
  = render 'form_errors', object: @room
  .form
    = render 'room_form', f:f
    .form-group
      .col-sm-offset-2.col-sm-10
        = f.submit t("application.models.room.add_room").titleize, class:"btn btn-primary btn-lg"    
