.list-group.list-view-pf-equalized-column
  .list-group-item.list-view-pf-stacked
    .list-view-pf-actions
      = link_to t('.assign'), new_user_offspring_assignment_path(offspring), { class: "button btn btn-default" }
      .dropdown.pull-right.dropdown-kebab-pf
        %button.btn.btn-link.dropdown-toggle#dropdownKebabRight3{"aria-expanded": "true", "aria-haspopup": "true", "data-toggle": "dropdown", type: "button"}
          %span.fa.fa-ellipsis-v
        %ul.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownKebabRight3"}
          %li
            %a{href: user_offspring_path(offspring)} Show
          %li.divider{role: "separator"}
          %li
            %a{href: edit_user_offspring_path(offspring)} Edit
    .list-view-pf-main-info
      .list-view-pf-body
        .list-view-pf-description
          .list-group-item-heading
            = link_to offspring.first_name, user_offspring_path(offspring)
          .list-group-item-text
            = offspring.last_name
        .list-view-pf-additional-info
          .list-view-pf-additional-info-item.list-view-pf-additional-info-item
            = I18n.t(offspring.grade, scope: 'grades')
          .list-view-pf-additional-info-item.list-view-pf-additional-info-item
            - if !offspring.assignment
              = t ".no_assignment_yet"
            - else
              %strong= offspring.assignment.shift.room.name
              #{week_day_convert(offspring.assignment.shift.day_of_week)}
              = offspring.assignment.shift.start_time
