- provide :title, t('.edit_offspring', offspring: (full_name @offspring))
%h2= t('.edit_offspring', offspring: @offspring.id)
.container
  = form_for(@offspring, as: @offspring, url: user_offspring_path(@offspring), format: :json) do |f|
    %form.form-horizontal
      = render 'form_errors', object: @offspring
      .form-group
        .control-label
          = f.label :first_name
        = f.text_field :first_name, class: 'form-control'
      .form-group
        .control-label
          = f.label :last_name
        = f.text_field :last_name, class: 'form-control'
      .form-group
        .control-label
          = f.label :grade
        = f.select :grade, Offspring.grades.map { |w,y| [I18n.t(w, scope: 'grades'), w] }, class: 'form-control'
      .actions
        = link_to (t '.cancel'), user_offsprings_path(current_user), class: 'btn btn-lg btn-default'
        = f.submit (t'.update'), class: "btn btn-primary btn-lg"
        = link_to (t '.delete'), user_offspring_path(@offspring), data: { confirm: (t '.are_you_sure?') }, method: :delete, class: 'btn btn-lg btn-danger'
