- provide :title, (t'.new_offspring')
%h2= t '.new_offspring'
.container
  = form_for(@offspring, as: @offspring, url: user_offsprings_path(current_user), format: :json) do |f|
    %form.form-horizontal
      = render 'form_errors', object: @offspring
      .form-group
        .control-label
          = f.label :first_name
        = f.text_field :first_name, class: 'form-control'
      .form-group
        .control-label
          = f.label :last_name
        = f.text_field :last_name, class: 'form-control'
      .form-group
        .control-label
          = f.label :grade
        = f.select :grade, Offspring.grades.map { |w, _y| [I18n.t(w, scope: 'grades'), w] }, class: 'form-control'
      .actions
        = f.submit (t'.create'), class: "btn btn-primary btn-lg"
