- provide(:title, (t '.shift_select').to_s)
%h1= t('.shift_select_for', offspring: full_name(@offspring))

.row
  - if @rooms.nil? || @rooms&.empty?
    %h2= (t "application.models.room.there_are_no_rooms_yet")
  - else
    = render @rooms
= @assignment
Offspring
= full_name(@offspring)
