- provide :title, "#{ t('application.reports') }"
.container-fluid
  .col-xs-10
    %h2
      =t('application.reports').titleize
  .col-xs-2
    =link_to reports_path do
      %span.pficon.pficon-refresh
      =(t '.refresh').titleize
.container-fluid
  .cards-pf
    .container-fluid.container-cards-pf
      .row.row-cards-pf
        .col-xs-6.col-sm-4.col-md-4
          .card-pf.card-pf-accented.card-pf-aggregate-status.card-pf-aggregate-status-mini
            %h2.card-pf-title
              %span.fa.fa-cube
              %span.card-pf-aggregate-status-count
                =  @number_of_rooms
              = link_to (t '.rooms').titleize, rooms_path
            .card-pf-body
              %p.card-pf-aggregate-status-notifications
                %span.card-pf-aggregate-status-notification
                  = link_to new_room_path do
                    %span.pficon.pficon-add-circle-o
        .col-xs-6.col-sm-4.col-md-4
          .card-pf.card-pf-accented.card-pf-aggregate-status.card-pf-aggregate-status-mini
            %h2.card-pf-title
              %span.fa.fa-calendar-plus-o
              %span.card-pf-aggregate-status-count
                =  @number_of_shifts
              = link_to (t '.shifts').titleize, rooms_path
            .card-pf-body
              %p.card-pf-aggregate-status-notifications
                %span.card-pf-aggregate-status-notification
      .row.row-cards-pf
        .col-xs-6.col-sm-4.col-md-4
          .card-pf.card-pf-accented.card-pf-aggregate-status.card-pf-aggregate-status-mini
            %h2.card-pf-title
              %span.fa.fa-battery-full
              %span.card-pf-aggregate-status-count
                =  @total_capacity
              = (t '.total_capacity').titleize
            .card-pf-body
              %p.card-pf-aggregate-status-notifications
        .col-xs-6.col-sm-4.col-md-4
          .card-pf.card-pf-accented.card-pf-aggregate-status.card-pf-aggregate-status-mini
            %h2.card-pf-title
              %span.fa.fa-battery-half
              %span.card-pf-aggregate-status-count
                =  @total_sites_available
              = (t '.total_sites_available').titleize
            .card-pf-body
              %p.card-pf-aggregate-status-notifications
.container-fluid
  .com-xs-6.col-sm-4.col-md-4
    %h2= (t '.space_available').titleize
    .progress.progress-label-left
      .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => @total_sites_available.to_f/@total_capacity*100, :role => "progressbar", :style => "width: #{(@total_sites_available.to_f/@total_capacity*100).to_int}%;"}
        %span= (@total_sites_available.to_f/@total_capacity*100).to_int
:javascript
  $(function() {
    // matchHeight the contents of each .card-pf and then the .card-pf itself
    $(".row-cards-pf > [class*='col'] > .card-pf .card-pf-title").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-body").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-footer").matchHeight();
    $(".row-cards-pf > [class*='col'] > .card-pf").matchHeight();
    // initialize tooltips
    $('[data-toggle="tooltip"]').tooltip();
  });
  
