%nav.navbar.navbar-default.navbar-pf{role: "navigation"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{href: "/"}
      = image_tag("brand.svg", height: "64", alt: (t 'application.name').to_s)
  .collapse.navbar-collapse.navbar-collapse-1
    %ul.nav.navbar-nav.navbar-utility
      %li
        %a{href: "#"}= admin_signed_in? ? t(".signed_in").titleize: t(".not_signed_in").titleize
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          %span.pficon.pficon-user
          = admin_signed_in? ? current_admin.email : t(".not_identified")
          %b.caret
        %ul.dropdown-menu
          - if admin_signed_in?
            %li
              = link_to (t '.change_password').titleize, "#"
            / %li
            /  = link_to (t '.change_password').titleize, "#"
            %li.divider
            %li
              = link_to (t '.sign_out').titleize, destroy_admin_session_path, method: :delete
          - else
            %li
              %a{href: "#"} Link
            %li
              %a{href: "#"} Another link
            %li
            %a{href: "#"} Something else here
          %li.divider
          %li
            = link_to (t '.about').titleize, about_path
    %ul.nav.navbar-nav.navbar-primary
      %li
        = link_to (t'.admins').titleize, admin_admins_path
      %li
        = link_to (t'.users').titleize, admin_users_path
      %li
        = link_to (t'.offsprings').titleize, "#"
      %li
        = link_to t('.control_panel').titleize, admin_dashboard_path
      %li
        = link_to t('.rooms').titleize, admin_rooms_path
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          = (t ".help").titleize
          %b.caret
          %ul.dropdown-menu
            %li
              = link_to (t '.help').titleize, help_path
              = link_to (t '.info').titleize, info_path
              = link_to (t '.about').titleize, about_path
- content_for :javascripts do
  :javascript
    $(function() {
        // for bootstrap 3 use 'shown.bs.tab', for bootstrap 2 use 'shown' in the next line
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            // save the latest tab; use cookies if you like 'em better:
            localStorage.setItem('lastTab', $(this).attr('href'));
        });
        // go to the latest tab, if it exists:
        var lastTab = localStorage.getItem('lastTab');
        if (lastTab) {
            $('[href="' + lastTab + '"]').tab('show');
        }
    });
