<!DOCTYPE html>
%html
  %head
    = render 'layouts/header'

  %body
    = render 'layouts/image'
    = render 'layouts/top'
    = render 'layouts/flash'
    = yield
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
