<!DOCTYPE html>
%html
  %head
    = render 'layouts/head'

  %body
    / = render 'layouts/image'
    = render 'layouts/header'
    .container-fluid
      = render 'layouts/flash'
      = yield
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'layouts/debug' if Rails.env.development?
    = yield(:javascripts)
